<div class="container">
  <h2>My Orders</h2>
  <div *ngIf="!loaded" class="spinner-1"></div>
  <div *ngFor="let order of orders" class="order-container">
    <div class="order-header">
    <strong>Order status: <span *ngIf="!order.processed else processed">Placed</span></strong>
    <strong *ngIf="order.payment_mode==='cash'" class="order-amount">Payable amount: {{ order.payable_amount }}</strong>
  </div>
    <ng-template #processed>Processed</ng-template>
    <span class="items-header">Items</span>
    <div *ngFor="let item of order.items_in_detail" class="item-wrapper">
      <div class="item-photo">
        <img class="rounded" [src]="item.imagePath" width="150" height="150">
        </div>
        <div class="item-description">
          <h4>{{ item.product_name }}</h4>
          <h5><strong>Model:</strong> {{ item.product_model }}</h5>
          <h5><strong>Order type:</strong> {{ item.order_mode }}</h5>
        </div>
    </div>
  </div>
</div>
