<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content paddingz>
  <form #frm="ngForm" (ngSubmit)="onFormSubmitted()">
    <ion-item>
    <ion-input type="text" [(ngModel)]="phone" name="phone" placeholder="Enter phone number" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Enter password" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" [(ngModel)]="confirm_password" name="cpassword" placeholder="Confirm password" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="name" name="name" placeholder="Enter your name" required></ion-input>
  </ion-item>
    <ion-list-header>Gender</ion-list-header>
    <ion-radio-group [(ngModel)]="gender" name="gender">
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio value="male" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio value="female"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button type="submit" size="large" expand="block" fill="clear" class="sign-up-button" [disabled]="frm.invalid">Submit</ion-button>
  </form>
</ion-content>
