  <!-- <div class="about-page-img" style="background-image: url('../../../assets/img/maxresdefault.jpg');">
  </div>
<div class="jumbotron bg-transparent container-fluid">
  <div>
      <h2>Our Services and Offerings</h2>
      <hr>
  </div>
  <div container #physioservice>
      <p>Our <strong>Physiotherapy</strong> services comprise a range of services including Pain Management,
          Neuro Rehab, Pulmonary Rehab and Geriatrics Rehab. Physioman's trained physiotherapists, who are among the best in
          the business, provide you with the best possible treatment at the comfort of your home.<br><br>
          <strong>Pain Management</strong>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo odit provident, corrupti sed non, doloremque accusantium a, voluptas quisquam ipsa facere laboriosam minima consectetur. Obcaecati voluptatum aut sapiente autem soluta eligendi facere voluptate corrupti? Explicabo nesciunt necessitatibus earum soluta hic, officia natus impedit veritatis aperiam cum doloribus quas velit ex pariatur et ipsa fugit similique in quo ipsam perferendis eveniet est itaque. Beatae qui quaerat obcaecati repellat tempora. Accusamus exercitationem voluptatum quasi eos fugiat velit hic dignissimos excepturi amet quis, odio dolorum et, ut nulla? Eaque, voluptatem provident explicabo harum itaque excepturi voluptatibus! Eligendi eos dicta magni, ullam neque consectetur.
      </p>
  </div>
</div> -->

this page will contain info about
owner and staff
