<div style="background-image: url('../../../assets/img/login_signup.jpg');" class="signup-page-wrapper text-center">
  <div class="signup-container">
    <h1 class="signup-header">PHYSIOMAN</h1>
    <div class="signup-sub-header">Bid Farewell to Pain</div>
    <div class="signup-block">

      <form class="text-capitalize" #frm="ngForm" (ngSubmit)="sendVerificationCode(frm)">
        <h3>Create Account</h3>
        <div class="form-group">
          <label for="phone"><h5>Phone Number to register with</h5></label>
          <input type="tel" required minlength="10" maxlength="10" class="form-control"
            ngModel id="phone" name="phone" pattern="[0-9]*" #phone="ngModel">
            <div class="alert alert-danger" *ngIf="phone.invalid && phone.touched">
              Phone number must contain 10 digits
            </div>
        </div>

        <div class="form-group">
          <label for="password"><h5>Set your password</h5></label>
          <input type="password" required minlength="6" class="form-control"
            ngModel id="password" name="password" #password="ngModel">
        </div>

        <div class="form-group">
          <label for="confirm_password"><h5>Confirm password</h5></label>
          <input type="password" required minlength="6" class="form-control"
            ngModel id="confirm_password" name="confirm_password" #confirm_password="ngModel">
        </div>

        <div class="alert alert-danger"
          *ngIf="confirm_password.touched && frm.value.password !== frm.value.confirm_password">
          Passwords do not match</div>

        <div class="form-group">
          <label for="name"><h5>Enter your name</h5></label>
          <input type="text" required class="form-control" ngModel id ="name" name="name" #name="ngModel">
        </div>

        

        <div class="form-group">
          <label for="gender"><h5>Gender&emsp;</h5></label>
          <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
              <input type="radio" id="radio1" class="form-check-input" ngModel name="gender" value="male" #gender="ngModel" required>Male
            </label>
          </div>

          <div class="form-check-inline">
            <label class="form-check-label" for="radio2">
              <input type="radio"  id="radio2" class="form-check-input" ngModel name="gender" value="female" #gender="ngModel" required>Female
            </label>
          </div>
        </div>





        <button type="submit" class="btn btn-primary btn-lg btn-space"
          [disabled]="frm.invalid || frm.value.password !== frm.value.confirm_password" >Submit</button>

        <div *ngIf="signedUp" class="container alert alert-success">
          Signed Up successfully!
        </div>

      </form>
    </div>
  </div>
</div>



<div class="modal container" id="verification" data-backdrop="static" data-keyboard=false>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Enter OTP</h5>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="otp" name="otp">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onOTPEntered(otp, frm)">Enter</button>
      </div>
    </div>
  </div>
</div>


