<h1>Signup</h1>
<form class="container jumbotron bg-transparent text-white text-capitalize" #frm="ngForm" (ngSubmit)="onSignup(frm)">
  <div class="form-group">
    <label for="phone"><h5>Phone Number to register with</h5></label>
    <input type="tel" required minlength="10" maxlength="10" class="form-control" 
      ngModel id ="phone" name="phone" pattern="[0-9]*" #phone="ngModel">
      <div class="alert alert-danger" *ngIf="phone.invalid && phone.touched else verify_phone">
        Phone number must contain 10 digits
      </div>
      <ng-template #verify_phone>
        <! execute code to check phone availability and show message>
      </ng-template>
  </div>
  <div class="form-group">
    <label for="password"><h5>Set your password</h5></label>
    <input type="password" required minlength="6" class="form-control" 
      ngModel id ="password" name="password" #password="ngModel">
  </div>
  <div class="form-group">
    <label for="name"><h5>Enter your name</h5></label>
    <input type="text" required class="form-control" ngModel id ="name" name="name" #name="ngModel">
  </div>
  <div class="form-group">
    <label for="email"><h5>Enter your Email id</h5></label>
    <input type="email" class="form-control" ngModel id ="email" name="email" 
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
    <div class="alert alert-danger" *ngIf="email.invalid && email.touched else verify_email">
      Invalid email format
    </div>
    <ng-template #verify_email>
        <! execute code to check email availability and show message>
    </ng-template>
  </div>
  <div class="form-group">
    <label for="gender"><h5>Gender</h5></label><br>
    <select class="form-control" ngModel id ="gender" name="gender" #gender="ngModel">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  <div class="form-group">
    <label for="dob"><h5>Date of birth</h5></label>
    <input type="date" class="form-control" ngModel id ="dob" name="dob" #dob="ngModel">
  </div>
  <div class="form-group">
    <label for="address"><h5>Address</h5></label>
    <textarea rows="5" class="form-control" ngModel id ="address" name="address" #address="ngModel"></textarea>
  </div>
  <div class="form-group">
    <label for="ailment"><h5>Ailment history</h5></label>
    <textarea rows="5" class="form-control" ngModel id ="ailment" name="ailment" #ailment="ngModel"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-space" [disabled]="frm.invalid" >Submit</button>
  <div *ngIf="signedUp" class="container alert alert-success">
    Signed Up successfully!
  </div>  
</form>



