<div class="signup-page-wrapper text-center">
  <div class="signup-container">
    <h1 class="signup-header">PHYSIOMAN</h1>
    <div class="signup-sub-header">Bid Farewell to Pain</div>
    <div class="signup-block">

      <form class="text-capitalize" #frm="ngForm" (ngSubmit)="sendVerificationCode(frm)">
        <h3>Create Account</h3>

        <mat-form-field>
          <input matInput type="tel" placeholder="Enter your phone number" required
           minlength="10" maxlength="10" ngModel id="phone" name="phone" pattern="[0-9]*" #phone="ngModel">
        </mat-form-field>


        <mat-form-field>
          <input matInput type="password" required minlength="6" placeholder="Enter a password(min. 6 characters)"
            ngModel id="password" name="password" #password="ngModel">
        </mat-form-field>


        <mat-form-field>
          <input matInput type="password" required minlength="6" placeholder="Re-enter password"
            ngModel id="confirm_password" name="confirm_password" #confirm_password="ngModel">
        </mat-form-field>

        <mat-error
          *ngIf="confirm_password.touched && frm.value.password !== frm.value.confirm_password">
          Passwords do not match
        </mat-error>


        <mat-form-field>
          <input matInput type="text" required placeholder="Enter your name" ngModel id ="name" name="name"
           #name="ngModel">
        </mat-form-field>



        <div class="form-group">
          <label for="gender">Your Sex&emsp;</label>
          <mat-radio-group [(ngModel)]="gender" name="gender" required>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </div>




        <button type="submit" class="btn btn-primary btn-lg btn-space"
          [disabled]="frm.invalid || frm.value.password !== frm.value.confirm_password" >Submit</button>

        <div *ngIf="signedUp" class="container alert alert-success">
          Signed Up successfully!
        </div>

      </form>
    </div>
  </div>
</div>



<div class="modal container" id="verification" data-backdrop="static" data-keyboard=false>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Enter OTP</h5>
      </div>
      <div class="modal-body">
        <input type="text" [(ngModel)]="otp" name="otp">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onOTPEntered(otp, frm)">Enter</button>
      </div>
    </div>
  </div>
</div>


