<!-- Carousel -->
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" active></li>
        <li data-target="#slides" data-slide-to="1"></li>
    </ul>
    <div class="carousel-inner" >
        <div class="carousel-item active">
            <div class="carousel-item-wrapper" style="background-image: url('../../../assets/img/Physical-Therapy-Tempe-Hip-1.jpg');">
              <div class="row" style="height:100%">
              <div class="col-sm-6" style="height:100%"></div>
              <div class="col-sm-6 text-center carousel-text">
                <div class="heading-text">WELCOME TO PHYSIOMAN</div>
                <div class="heading-subtitle">Bid farewell to pain</div>
                <button *ngIf="!loggedIn" type="button" class="btn btn-outline-light btn-lg  carousel-btn"
                  routerLink="/signup">Click here to register
                </button>
                <button *ngIf="!loggedIn" type="button" class="btn btn-success btn-space-top" (click)="onQuery()">
                  Have a query? Talk to us
                </button>
              </div>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-item-wrapper" style="background-image: url('../../../assets/img/Physical-Therapy-Tempe-Back-Pain-1.jpg');">
                                <div class="row" style="height:100%">
                <div class="col-sm-6" style="height:100%"></div>
                <div class="col-sm-6 text-center carousel-text">
                    <div class="heading-text">Avail our top quality physiotherapy service at your home,
                      and order state-of-the-art medical equipment at affordable prices
                    </div>
                    <button *ngIf="!loggedIn" type="button" class="btn btn-success btn-space-top" (click)="onQuery()">
                      Have a query? Talk to us
                    </button>
             <!-- <button *ngIf="!hasOrdered" type="button" class="btn btn-outline-light btn-lg btn-space carousel-btn" routerLink="/shop">Buy/Rent Equipment</button>
             <div class="heading-subtitle">Need help?</div>
                <button type="button" class="btn btn-outline-light btn-sm carousel-sm-btn" data-toggle="modal" data-target="#how2order">How To Order</button> -->
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid jumbotron bg-transparent">
    <h2>Our Vision and Mission</h2>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et animi voluptas consectetur ut ducimus, officiis est nihil sequi, vero minima ipsum voluptatibus perferendis? Incidunt odio quo quaerat modi accusamus laudantium dicta veniam qui eaque commodi tenetur in nulla sequi, corporis nihil asperiores doloremque illum numquam. Eos, alias sunt. Fuga facere consectetur expedita ipsam quae eum quisquam ut eius. Deserunt minima ad expedita libero labore ratione error nesciunt reprehenderit exercitationem at cumque, perspiciatis ut dignissimos. Doloremque quibusdam laborum officia sapiente eius aperiam perferendis labore optio neque repellendus assumenda cum quasi consectetur corrupti voluptatem voluptates, tenetur atque, quam quis deleniti magni saepe?
    </div>

    <h2>Our Services</h2>
    <div class="flex-container" >
      <div class="card" style="width: 30rem">
        <img class="card-img-top img-fluid" src="../../../assets/img/maxresdefault.jpg" style="height: 300px">
        <div class="card-body text-center" style="background:rgb(18, 146, 18, 0.7)">
          <h4 class="card-title text-white">Physiotherapy</h4>
          <div class="card-text" *ngIf="loggedIn && !hasBooking">
            <button class="btn btn-outline-light carousel-btn" type="button" routerLink="/services/new-booking">Book an appointment</button>
          </div>
          <div class="card-text" *ngIf="loggedIn && hasBooking">
            <button class="btn btn-outline-light  carousel-btn" type="button" routerLink="/user/booking-status">Check booking status</button>
          </div>
          <div class="card-text" *ngIf="!loggedIn">
            <button class="btn btn-outline-light  carousel-btn" type="button" routerLink="/login">Click here to login</button>
          </div>
          <div class="card-text" *ngIf="!hasBooking">
            <button class="btn btn-outline-light  carousel-btn btn-space-top" type="button"
              data-toggle="modal" data-target="#learn_more">Learn More</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 30rem">
        <img class="card-img-top img-fluid" src="../../../assets/img/physio-equipment.png" style="height: 300px">
        <div class="card-body text-center" style="background: rgb(18, 146, 18, 0.7)">
          <h4 class="card-title text-white">Medical Equipment</h4>
          <div class="card-text">
            <div>
              <button class="btn carousel-btn btn-outline-light " type="button" routerLink="/services/shop">Go to Market</button>
            </div>
            <div>
            <button class="btn carousel-btn btn-outline-light  btn-space-top" *ngIf="hasOrdered" routerLink="/user/order-status">View Orders</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>


<div class="modal" id="learn_more">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Our Physiotherapy Offerings</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                Text goes here........
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Got it</button>
              </div>
        </div>
    </div>
</div>


<div class="modal" id="query">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please provide the following details. Our represntative will contact you shortly</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form #frm="ngForm">
          <div class="form-group">
            <input type="text" class="form-control" ngModel name="name" #name="ngModel"
              placeholder="Enter your name..." required>
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" ngModel name="phone" #phone="ngModel"
              placeholder="Enter your Phone Number..." required>
          </div>
          <div class="form-group">
            <textarea rows="3" class="form-control" ngModel name="query" #query="ngModel"
              placeholder="Enter your query(optional)...">
            </textarea>
          </div>

          <button class="btn btn-success btn-space-top float-right" type="button"
           [disabled]="frm.invalid" (click)="onQuerySubmitted(frm)">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

