@media (min-width: 615px) {
    .carousel-btn {
        width:50%;
    }
        .carousel-sm-btn {
        width:30%;
    }
}


/* .animation {
  animation-iteration-count: 1;
} */



.carousel-item {
  height: 100%;
}

.carousel-caption {
  top: 500px;
  bottom: auto;
}

.container {
    padding-top: 1%;
}

.container h2 {
    margin-top: 50px;
}



.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item>.carousel-item-wrapper{
    height: 100vh;
    width: 100%;
    background-size:cover !important;
    background-position:center !important;
    background-repeat: no-repeat;
}

.carousel-item-wrapper::before {
  content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom,rgb(0, 0, 0),rgb(10, 10, 10));
      opacity: .8;
}



.carousel-item>.carousel-item-wrapper .heading-text {
margin: 200px auto 0px;
font-weight: bold;
font-size: 50px;
max-width: 1000px;
color: #fff;
}


.carousel-item>.carousel-item-wrapper .heading-subtitle {
margin: 0px auto 50px;
font-weight: bold;
font-size: 25px;
max-width: 500px;
color: #fff;
}

.carousel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

.card {
  width: 50%;
}
