<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded" padding>
  <div class="name-text">Welcome, {{ first_name }}</div>

  <div class="address">
    <ion-icon name="home" class="home-icon"></ion-icon> 
    <p class="address-details">{{ address }}</p>
    <ion-icon name="create" (click)="onEditProfile()" class="edit-icon"></ion-icon>
  </div>

  <!-- use gridlayout for the following content -->
  <ion-item *ngIf="dataService.hasBooking else show_appointment_button" routerLink="/tabs/bookings">
    <div class="menu-text">View Booking status</div>
    <ion-icon name="arrow-forward" class="arrow"></ion-icon>
  </ion-item>
  <ng-template #show_appointment_button>
    <ion-item (click)="onBookAppointment()">
    <div class="menu-text">Book an Appointment</div>
    <ion-icon name="arrow-forward" class="arrow"></ion-icon>
  </ion-item>
  </ng-template>

  <ion-item *ngIf="dataService.hasOrdered" routerLink="/tabs/orders">
    <div class="menu-text">View Orders</div>
    <ion-icon name="arrow-forward" class="arrow"></ion-icon>
  </ion-item>

  <ion-item routerLink="/tabs/shop">
    <div class="menu-text">Medical Equipment</div>
    <ion-icon name="arrow-forward" class="arrow"></ion-icon>
  </ion-item>

</ion-content>
