<div class="container">
  <h5>Filter incidents by status</h5>
  <select [(ngModel)]="incidentStatus" name="incidentStatus" (ngModelChange)="loadIncidents()">
    <option value="new">New</option>
    <option value="intermediate">Intermediate</option>
    <option value="processed">Processed</option>
  </select>
  <div *ngIf="incidentsLoaded" class="container jumbotron bg-transparent">
    <ul *ngFor="let incident of incidents">
      <div (click)="onOpenIncident(incident, incident.incident_id)">
        <div><h5>{{ incident.incident_title }}</h5></div>
        <div>Customer: <strong>{{ incident.customer_name }}</strong>, Contact No: <strong>{{ incident.customer_contact }}</strong></div>
        <div *ngIf="incident.incident_title==='Equipment Order'">
          Ordered Items
          <ul *ngFor="let item of incident.ordered_items">
            <div><strong>{{ item }}</strong></div>
          </ul>
        </div>
      </div>
      <hr>
    </ul>
  </div>
</div>


<span >
  <!-- template for assigning consultant -->
  <div class="modal container" id="assignConsultant" data-backdrop="static" data-keyboard=false>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Assign Consultant</h5>
        </div>
        <div *ngIf="incident" class="modal-body">
          <h5>Patient name: {{ incident.customer_name }}</h5><br>
          <h5> Request type: {{ incident.incident_title }}</h5><br>
          <h5 *ngIf="booking">Physio gender preference: {{ booking.physio_gender_preference }}</h5>
          <form #consultantform="ngForm" (ngSubmit)="onAssignConsultant(incident, consultantform)">
            <h5>Choose consultant to assign</h5>
            <select ngModel name="assigned_consultant" #assigned_consultant="ngModel" required>
              <option *ngFor="let consultant of consultants" value="{{ consultant.consultant_id }}">
                {{ consultant.consultant_id }}
              </option>
            </select>
            <button type="submit" class="btn btn-primary btn-lg btn-space" [disabled]="consultantform.invalid">Assign</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- template for assigning physio -->
  <div class="modal container" id="assignPhysio" data-backdrop="static" data-keyboard=false>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Assign Physio</h5>
        </div>
        <div *ngIf="incident" class="modal-body">
          <h5>Patient name: {{ incident.customer_name }}</h5><br>
          <h5> Request type: {{ incident.incident_title }}</h5><br>
          <h5 *ngIf="booking">Physio gender preference: {{ booking.physio_gender_preference }}</h5>
          <form #physioform="ngForm" (ngSubmit)="onAssignPhysio(incident, physioform)">
            <h5>Choose physio to assign</h5>
            <select ngModel name="assigned_physio" #assigned_physio="ngModel" required>
              <option *ngFor="let physio of physios" value="{{ physio.physio_id }}">
                {{ physio.physio_id }}
              </option>
            </select>
            <button type="submit" class="btn btn-primary btn-lg btn-space" [disabled]="physioform.invalid">Assign</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</span>
