<div class="container">
  <h2>My Bookings</h2>
  <div *ngIf="loaded" class="booking-block">
      <h5><strong>Booking status:</strong> {{ booking_data.status }}</h5>
      <div *ngIf="booking_data.request">
        <h5 *ngIf="booking_data.status!=='Confirmed'"><strong>Request date:</strong> {{ booking_data.request.request_timestamp | date: 'dd/MM/yyyy' }}</h5>
        <h5 *ngIf="booking_data.status!=='Confirmed' && !booking_data.request.processed_by_consultant"><strong>Consultation payment mode:</strong> {{ booking_data.request.consultation_payment_mode }}</h5>
        <h5 *ngIf="booking_data.status!=='Confirmed' && booking_data.request.processed_by_consultant"><strong>Payable booking amount:</strong> {{ booking_data.request.booking_amount_payable - booking_data.request.booking_amount_received }}</h5>
        <h5 *ngIf="booking_data.status==='Processed'"><strong>Serviced on:</strong> {{ booking_data.request.serviced_at | date: 'dd/MM/yyyy' }}</h5>
        <h5 *ngIf="booking_data.status==='Processed' && !booking_data.request.processed_by_consultant"><strong>Consultation OTP:</strong> {{ booking_data.request.consultant_otp}}</h5>
      </div>
      <div *ngIf="booking_data.booking">
        <h5><strong>Sessions completed:</strong> {{ booking_data.booking.sessions_completed }} / {{ booking_data.booking.allotted_sessions }}</h5>
      </div>
  </div>
</div>




