h2 {
	margin-top: 15px;
}

.booking-block {
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 10px 0px;
	padding: 10px;
	color: 
}

h5 {
	color: #777;
	font-size: 16px;
}

h5 strong{
	color: #555;
}