<div class="container">
  <h2>New Booking Request</h2>
<form #bookingForm="ngForm" (ngSubmit)="onBookingRequest(bookingForm)">
  <div class="form-group">
    <label for="ailment"><h5>Tell us about your current symptoms</h5></label>
    <textarea rows="5" class="form-control" ngModel id ="ailment" name="ailment" #ailment="ngModel"></textarea>
  </div>
  <div class="form-group">
    <label for="genderPreference"><h5>Gender preference&emsp;</h5></label>
    <div class="form-check-inline">
      <label class="form-check-label" for="radio1">
        <input type="radio" id="radio1" class="form-check-input" ngModel name="genderPreference"
         value="male" #genderPreference="ngModel" required>Male
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label" for="radio2">
        <input type="radio" id="radio2" class="form-check-input" ngModel name="genderPreference"
         value="female" #genderPreference="ngModel" required>Female
      </label>
    </div>
  </div>
  <div class="form-group" *ngIf="!genderPreference.errors">
    <label for="paymentMode"><h5>Payment mode&emsp;</h5></label>
    <div class="form-check-inline">
      <label class="form-check-label" for="radio3">
        <input type="radio" id="radio3" class="form-check-input" [(ngModel)]="paymentMode"
         name="paymentMode" value="cash" (change)="openModal()" required>Cash
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label" for="radio4">
        <input type="radio" id="radio4" class="form-check-input" [(ngModel)]="paymentMode"
         name="paymentMode" value="card" (change)="openModal()" required>Card
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label" for="radio5">
        <input type="radio" id="radio5" class="form-check-input" [(ngModel)]="paymentMode"
         name="paymentMode" value="wallet" (change)="openModal()" required>Wallet
      </label>
    </div>
    <div *ngIf="paymentMode==='card' ">
      <app-payment [amount]="bookingPrice" (successMessage)="onPaymentCompletion($event)"></app-payment>
    </div>
  </div>
  <div class="text-right">
  <button [hidden]="paymentMode==='card'" type="submit" class="btn btn-info btn-lg" #submit [disabled]="bookingForm.invalid">Submit Request</button>
</div>
</form>
</div>


