<div class="container">
  <h2>New Booking Request</h2>
  <form #bookingForm="ngForm" (ngSubmit)="onBookingRequest(bookingForm)">
    <mat-form-field>
      <textarea matInput ngModel id ="ailment" name="ailment" placeholder="Write about your symptoms"
      #ailment="ngModel"></textarea>
    </mat-form-field>

    <div class="form-group">
      <label for="genderPreference">Gender preference&nbsp;</label>
      <mat-radio-group [(ngModel)]="genderPreference" name="gender" required>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form-group">
      <label for="paymentMode">Consultation Payment mode&nbsp;</label>
      <mat-radio-group [(ngModel)]="paymentMode" name="mode" required>
        <mat-radio-button value="cash">Cash</mat-radio-button>
        <mat-radio-button value="card">Card</mat-radio-button>
        <mat-radio-button *ngIf="hasWalletBalance" value="wallet">Wallet</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-info btn-lg" #submit [disabled]="bookingForm.invalid">Book</button>
    </div>
  </form>
<div class="container" style="padding: 20px">
  After you book, our representative will get in touch with you for consultation. The type and duration of
  your therapy will be decided by our representative. Then our trained physio will be assigned to your case.
  Your therapy will commence soon after our representative discusses your treatment plan with you and has
  your approval.
</div>
</div>

<div *ngIf="paymentMode==='card' ">
  <app-payment [amount]="bookingPrice" (successMessage)="onPaymentCompletion($event, bookingForm)"></app-payment>
</div>


