@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

/* firefox bug fixes to be added */

body {
    font-family: sans-serif;
    background-color: lightblue;
    /* background-image: url("./assets/img/background.jpg"); */
    background-position: top;
}


h1 {
    font-family: serif !important;
    font-weight: 700;
    text-align: center;
    /* color: white; */
}

h2, h3 {
    font-family: serif !important;
    font-weight: 700;
    text-align: center;
}

.btn-space {
    margin-right: 20px;
}

.btn-space-top {
    margin-top: 10px;
}

.btn-space-bottom {
    margin-bottom: 10px;
}

.modal {
    color: black;
}

.modal-lg {
    max-width: 80% !important;
}

/* .shadow {
    text-shadow: 0 2px blue !important;
} */

.center {
    text-align: center;
}
