@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.eot');
    src: url('assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('assets/fonts/Roboto-Regular.woff') format('woff'),
        url('assets/fonts/Roboto-Regular.ttf') format('truetype'),
        url('assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
* {
font-family: 'Roboto';
}

/* firefox bug fixes to be added */

body {
    background-position: top;
}


h1 {
    font-weight: 700;
    text-align: center;
    /* color: white; */
}

h2, h3 {
    font-weight: 700;
    text-align: center;
}

p {
    text-align: justify;
}

.btn-space {
    margin-right: 20px;
}

.btn-space-top {
    margin-top: 10px;
}

.btn-space-bottom {
    margin-bottom: 10px;
}

.modal {
    color: black;
}

.modal-lg {
    max-width: 80% !important;
}

/* .shadow {
    text-shadow: 0 2px blue !important;
} */

.center {
    text-align: center;
}

.modal-dialog{
    top: 50px
}

.modal-content {
  -webkit-box-shadow: 6px 7px 18px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 18px -5px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 18px -5px rgba(0,0,0,0.75);
}

.modal-header {
    background: #000;
    color: #fff;
}

.modal-header .close {
    outline: none;
    text-shadow: none;
    color: #fff;
    font-size: 35px;
}
.modal-title {
    font-weight: bold;
}

.spinner-1:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top-color: coral;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
