<ion-header>
  <ion-toolbar>
    <ion-title>Process Booking</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-button *ngIf="session_status === 'not started' " (click)="onSendOTP()">Send OTP</ion-button>
    <ion-button *ngIf="session_status === 'otp sent' " (click)="onSendOTP()">Resend OTP</ion-button>
  </ion-item>
  <form #sessionForm="ngForm" *ngIf="session_status === 'otp sent' " (ngSubmit)="onStartSession()">
    <ion-item padding>
      <ion-label>Enter session OTP:</ion-label>
      <ion-input type="text" [(ngModel)]="session_otp" name="session_otp" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit" size="large" expand="block" [disabled]="sessionForm.invalid">Start session</ion-button>
    </ion-item>
  </form>
  <div *ngIf="session_status === 'started' ">
    <ion-item>
      <ion-label>Session in progress</ion-label>
    </ion-item>
    <ion-button type="button" size="large" expand="block">End session</ion-button>
  </div>
</ion-content>
