/* .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: blue;
  border-color: #fff;
} */

/* navbar {
    background-color: transparent !important;
} */

/* .dropdown-menu {
    background-color: blue !important;
} */
.navbar {
	background: rgba(0,0,0,1);
	color: #fff;
}

.navbar a,
.navbar a:hover{
	color: #fff;
}

.navbar .dropdown-menu a,
.navbar .dropdown-menu a:hover{
	color: #333;
}