<div *ngIf="loaded" class="container">
  <h2>My Profile <button class="btn btn-primary btn-space" (click)="openEditModal()">Edit</button>
    <button class="btn btn-sm btn-warning btn-space" (click)="openPasswordChangeModal()">Change password</button>
  </h2>
  <div *ngIf="!loaded" class="spinner-1"></div>
  <div class="row profile-wrapper">
    <div class="col-sm-6 profile-image" style="background-image: url('../../../assets/img/background3.jpg');">
      <div class="image-overlay">
        <span class="fa fa-image"></span>
        <div class="change-image-text">Change Image</div>
      </div>
    </div>
    <div class="col-sm-6 profile-data">
      <div><strong>Name:</strong> {{ patient.patient_name }}</div>
      <div><strong>Contact Number</strong> {{ patient.patient_phone }}
        <button class="btn btn-outline-warning btn-sm">Change</button>
      </div>
      <div><strong>Email id:</strong> {{patient.patient_email}}
        <button *ngIf="patient.patient_email && !patient.email_verified"
          class="btn btn-outline-success btn-space btn-sm" (click)="onEmailVerify()">Verify</button>
        <!-- <button *ngIf="patient.patient_email" class="btn btn-outline-warning btn-sm">Change</button> -->
      </div>
      <div><strong>Gender</strong> {{patient.patient_gender}}</div>
      <div><strong>Date of Birth</strong> {{ patient.patient_dob | date: 'dd/MM/yyyy'}}</div>
      <div><strong>Address:</strong> {{ patient.patient_address }}</div>
      <div><strong>Wallet Balance:</strong> {{ patient.wallet_amount }}
        <button class="btn btn-outline-success btn-sm">Recharge</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loaded" class="modal" id="edit" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Profile</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form class="text-capitalize" #frm="ngForm" (ngSubmit)="onEdit(frm)">

          <div class="form-group">
            <label for="email"><strong> Email id</strong> </label>
            <input type="email" class="form-control" [(ngModel)]="email" id="email" name="email" required>
          </div>

          <div *ngIf="!patient.patient_dob" class="form-group">
            <label for="dob"><strong>Date of birth</strong></label>
            <input type="date" class="form-control" [(ngModel)]="dob" id="dob" name="dob">
          </div>

          <div class="form-group">
            <label for="address"><strong>Address</strong></label>
            <textarea rows="5" class="form-control" [(ngModel)]="address"
              name="address">{{ address }}</textarea>
          </div>

          <!-- <div class="form-group">
            <label for="ailment"><strong>Mention your symptoms</strong></label>
            <textarea rows="5" class="form-control" ngModel id ="ailment" name="ailment" #ailment="ngModel"></textarea>
          </div> -->

          <button class="btn btn-primary btn-lg float-right" type="submit" >Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loaded" class="modal" id="pwd" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Change password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form #pwdfrm="ngForm" (ngSubmit)="onPasswordChanged(pwdfrm)">
          <div class="form-group">
            <input class="form-control" type="password" minlength="6" ngModel name="currentpwd" #currentpwd="ngModel"
              placeholder="Current password..." required>
          </div>
          <div>
            <input class="form-control" type="password" minlength="6" ngModel name="newpwd" #newpwd="ngModel"
              placeholder="New password..." required>
          </div>
          <button class="btn btn-primary btn-space-top float-right" type="submit"
           [disabled]="pwdfrm.invalid">Change</button>
        </form>
      </div>
    </div>
  </div>
</div>
