<div class="container-fluid page-header">
  <h2>Medical Equipment</h2>
  <!-- Search bar here -->
  <form #searchform="ngForm">
    <div class="container search-container">
      <div class="input-group">
        <input type="text" class="form-control" ngModel name="search" #search="ngModel" placeholder="Search..." (change)="onSearch(searchform)">
        <div class="input-group-append">
          <button class="btn btn-info" type="button" (click)="onSearch(searchform)">Search</button>
        </div>
      </div>
      <button *ngIf="loggedIn" class="fas fa-shopping-cart btn btn-lg cart-icon" (click)="viewCart()">
        Cart
        <span class="badge badge-light" *ngIf="rented_items.length || purchased_items.length">{{getCartCount()}}</span>
      </button>
    </div>
  </form>
</div>
<div *ngIf="!itemsLoaded" class="spinner-1"></div>
<div class="container items-container">
  <div *ngFor="let item of loaded_list" class="item-wrapper">
    <div class="item-photo">
      <img class="rounded" [src]="item.imagePath">
      </div>
      <div class="item-description">
        <h4><strong>{{ item.product_name }}</strong></h4>
        <h5><strong>Model:</strong> {{ item.product_model }}</h5>
        <h5><strong>Manufacturer:</strong> {{ item.product_manufacturer }}</h5>
        <h5><strong>Category:</strong> {{ item.product_category }}</h5>
        <h5><strong>Specifications:</strong> {{ item.product_specifications }}</h5>
        <h5><strong>Description:</strong> {{ item.product_description }}</h5>
        <h5><strong>Selling Price:</strong> {{ item.selling_price }}</h5>
        <h5><strong>Rent Price:</strong> {{ item.rent_price }}</h5>
        <div *ngIf="!loggedIn">To order the item, please sign in with your account</div>
      </div>
      <div *ngIf="loggedIn" class="item-buttons">
                <button class="fas fa-cart-plus btn btn-warning btn-lg btn-space" type="button" (click)="addToCart(item, 0)">Purchase</button>
        <button class="fas fa-cart-plus btn btn-success btn-lg btn-space" type="button" (click)="addToCart(item, 1)">Rent</button><br>
      </div>
    </div>
  </div>
  <div *ngIf="checkout">
    <app-shopping-cart [purchased_items]="purchased_items" [rented_items]="rented_items" [total_price]="total_price"></app-shopping-cart>
  </div>
