<ion-menu side="start" menuId="first" contentId="content">
  <ion-content>
      <div class="menu-item" (click)="testFn()"><ion-icon name="person"></ion-icon> Edit Profile</div>
      <div class="menu-item" (click)="testFn()"><ion-icon name="person-add"></ion-icon> Add Account</div>
      <div class="menu-item" (click)="testFn()"><ion-icon name="swap"></ion-icon> Switch Account</div>
      <div class="menu-item" (click)="testFn()"><ion-icon name="call"></ion-icon>Contact Us</div>
      <div class="menu-item" (click)="testFn()"><ion-icon name="contacts"></ion-icon>About Us</div>
      <div class="menu-item" (click)="testFn()"><ion-icon name="wallet"></ion-icon> Wallet Recharge</div>
      <div class="menu-item" (click)="testFn()"><ion-icon name="people"></ion-icon>Refer a Friend</div>
      <div class="menu-item logout-button" (click)="onLogout()"><ion-icon name="log-out"></ion-icon>Logout</div>
  </ion-content>
</ion-menu>

<ion-router-outlet id="content"></ion-router-outlet>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="dataService.hasBooking" tab="bookings">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Bookings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shop">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="dataService.hasOrdered" tab="orders">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
