<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="loggedInAs==='consultant'">My Appointments</ion-title>
    <ion-title *ngIf="loggedInAs==='physio'">My Bookings</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content main padding *ngIf="loggedInAs==='consultant'">
  <ion-list *ngFor="let request of requests">
    <ion-card (click)="processAppointment(request)">
      <ion-item text-wrap>Patient: {{ request.name }}</ion-item>
      <ion-item text-wrap>Contact: {{ request.phone }}</ion-item>
      <ion-item text-wrap>Symptoms: {{ request.ailment_description }}</ion-item>
      <ion-item text-wrap>Address: {{ request.address }}</ion-item>
      <ion-item text-wrap>Payment: {{ request.collect_cash }}</ion-item> 
    </ion-card>
  </ion-list>
</ion-content>

<ion-content main padding *ngIf="loggedInAs==='physio'">
  <ion-list *ngFor="let booking of bookings">
    <ion-card (click)="processBooking(booking)">
      <ion-item text-wrap>Patient: {{ booking.name }}</ion-item>
      <ion-item text-wrap>Contact: {{ booking.phone }}</ion-item>
      <ion-item text-wrap>Address: {{ booking.address }}</ion-item>
      <ion-item text-wrap>Sessions booked in advance: {{ booking.number_of_sessions_unlocked }}</ion-item>
      <ion-item text-wrap>Sessions completed: {{ booking.sessions_completed }}/{{ booking.allotted_sessions }}</ion-item>
      <ion-item text-wrap>Status: {{ booking.session_status }}</ion-item> 
    </ion-card>
  </ion-list>
</ion-content>

